<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lc.demo.dao.RelationshipMapper">
    <resultMap id="Base_Result_Map" type="com.lc.demo.entities.Relationship">
        <id column="id" javaType="Integer" property="id"/>
        <association property="bookId" javaType="com.lc.demo.entities.Book">
            <constructor>
                <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer"/>
                <arg column="book_name" jdbcType="VARCHAR" javaType="java.lang.String"/>
                <arg column="add_time" jdbcType="DATE" javaType="java.util.Date"/>
            </constructor>
        </association>
        <association property="personId" javaType="com.lc.demo.entities.Person">
            <constructor>
                <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer"/>
                <arg column="person_name" jdbcType="VARCHAR" javaType="java.lang.String"/>
                <arg column="person_pwd" jdbcType="VARCHAR" javaType="java.lang.String"/>
            </constructor>
        </association>
    </resultMap>

    <select id="selectRelationshipAll" resultMap="Base_Result_Map">
        SELECT r.id,b.book_name,p.person_name,b.add_time,p.person_pwd from relationship r
        INNER JOIN person p
        INNER JOIN t_book b
        ON r.person_id = p.id AND r.book_id = b.id
    </select>

</mapper>